.article-list-item {
  padding: 1rem .5rem;
  border-bottom: 1px dotted #ddd;
}
.article-list-item-title {
  font-size: 1.1rem;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.article-list-item-info {
  color: #999;
  font-size: .8rem;
  display: flex;
  justify-content: space-between;

}

.article-list-item-info div span {
  cursor: pointer;
  margin-right: .5rem;
  color: #349EDF;
}

.article-list-item-info div span:hover {
  color: #ff0000;
}




