.auto-write-box {
  padding: 1rem 0;
}

.auto-write-box .auto-btn {
  margin-left: 1rem;
}

.input-none {
  display: none;
}

.choice-data mat-form-field {
  width: 100%;
  padding-bottom: 0;

}

.choice-type {
  margin-top: .5rem;
  margin-bottom: 0rem;
}
