<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form>
        <div class="input-group mb-3 auto-write-box">
          <div class="input-group-prepend">
            <span class="input-group-text" id="bookUrl">豆瓣书籍地址</span>
          </div>
          <input type="text" class="form-control" id="url" aria-describedby="bookUrl">
          <div class="input-group-prepend">
            <button mat-raised-button class="auto-btn">自动填充</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <form [formGroup]="bookInfoForm" enctype="multipart/form-data" (ngSubmit)="saveBook()" class="book-info-form" style="margin-top: 1rem;">
    <div class="row">
      <div class="col-3">
        <img [src]="domSanizer.bypassSecurityTrustUrl(imgsrc)" referrerpolicy="no-referrer" alt="图书" class="img-fluid">
        <input (change)="fileChange($event)"
               accept=".png,.jpeg, .jpg"
               formControlName="imgurl"
               class="input-none"
               ng2FileSelect
               [uploader]="uploader"
               id="img_input"
               type="file"/>
        <label for="img_input" id="choice-img" class="btn btn-primary btn-block" style="margin-top: 1rem;">更换图片</label>
      </div>
      <div class="col-9">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="bookname">书名</span>
          </div>
          <input formControlName="bookname" type="text" class="form-control" aria-describedby="bookname">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="author">作者</span>
          </div>
          <input formControlName="author" type="text" class="form-control" aria-describedby="author">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="press">出版社</span>
          </div>
          <input formControlName="press" type="text" class="form-control" aria-describedby="press">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="translator">译者</span>
          </div>
          <input formControlName="translator" type="text" class="form-control" aria-describedby="translator">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="page">页数</span>
          </div>
          <input formControlName="page" type="text" class="form-control" aria-describedby="publisher">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="publisher-time">价格</span>
          </div>
          <input formControlName="prices" type="text" class="form-control" aria-describedby="publisher">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="binding">装帧类型</span>
          </div>
          <input formControlName="binding" type="text" class="form-control" aria-describedby="binding">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="isbn">书号ISBN</span>
          </div>
          <input formControlName="isbn" type="text" class="form-control" aria-describedby="isbn">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="choice-data">
          <mat-form-field>
            <input formControlName="publisher_time" matInput [matDatepicker]="picker" placeholder="出版年">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group mb-3 choice-type">
          <div class="input-group-prepend">
            <label class="input-group-text" for="type">类型</label>
          </div>
          <select formControlName="type" class="custom-select" id="type">
            <option value="编程">编程</option>
            <option value="科学">科学</option>
            <option value="互联网">互联网</option>
            <option value="科普">科普</option>
          </select>
          <!--<input formControlName="type" type="text" class="form-control" aria-describedby="type">-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="introduction"></p>
        <div class="form-group">
          <label for="content-introduce">内容简介  · · · · · · </label>
          <textarea formControlName="book_introduction" class="form-control" id="content-introduce" rows="6"></textarea>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="author-introduce">作者简介  · · · · · · </label>
          <textarea formControlName="author_introduction" class="form-control" id="author-introduce" rows="6"></textarea>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="directory">目录  · · · · · · </label>
          <textarea formControlName="book_direction" class="form-control" id="directory" rows="6"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary onSubmit" style="margin: auto;">保存书籍</button>
    </div>
  </form>
</div>
