<div class="container-fluid">
  <div class="row">
    <div class="d-flex note-top">
      <div class="article-bar-input-box">
        <input type="text" placeholder="输入笔记的标题" [(ngModel)]="title">
      </div>
      <div class="d-flex note-top-right">
        <button mat-raised-button (click)="saveNote()">保存笔记</button>
        <div class="name-avatar">
          <img src="https://appstack.bootlab.io/img/avatar.jpg" [matMenuTriggerFor]="headmenu">
          <mat-menu #headmenu="matMenu">
            <button mat-menu-item routerLink="/personal">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user align-middle mr-1"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
              个人中心
            </button>
            <button mat-menu-item>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart align-middle mr-1"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>
              消息中心
            </button>
            <button mat-menu-item>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart align-middle mr-1"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>
              消息中心
            </button>
            <button mat-menu-item>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart align-middle mr-1"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>
              退出登录
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="md" appEditorMd
     [editormdConfig]="conf"
     (onEditorChange)="syncModel($event)" (editorHtml)="setNoteHtml($event)">
  <textarea style="display: block;" [(ngModel)]="markdown"></textarea>
</div>



