<div class="my-course-header">
  <div class="container">
    <div class="row">
      <div class="col-6 my-course-header-left">
        <img [src]="userInfo.user_imgUrl" alt="头像" class="img-fluid img-thumbnail my-course-avatar">
        <div class="personal-info">
          <h4>{{userInfo.user_name}}</h4>
          <!--<P>保密</P>-->
          <!--<p>这位同学很懒, 木有签名的说~</p>-->
        </div>
      </div>
      <div class="col-6 my-course-header-right">
        <div>个人设置</div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!--<div class="col-2 course-menu-box">-->
      <!--<mat-nav-list>-->
        <!--<mat-list-item *ngFor="let item of course_menu" [routerLink]="item.link">-->
          <!--<mat-icon matListIcon [svgIcon]="item.icon"></mat-icon>-->
          <!--<span mat-line>{{item.value}}</span>-->
        <!--</mat-list-item>-->
      <!--</mat-nav-list>-->
    <!--</div>-->
    <!--<div class="col-9">-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->
  </div>
  <div class="menu">
    <mat-tab-group>
      <mat-tab label="笔记">
        <ng-template matTabContent>
          <app-note-list></app-note-list>
        </ng-template>
      </mat-tab>
      <mat-tab label="想读">
        <ng-template matTabContent>
          <app-want-read></app-want-read>
        </ng-template>

      </mat-tab>
      <mat-tab label="在读">
        <ng-template matTabContent>
          <app-reading></app-reading>
        </ng-template>

      </mat-tab>
      <mat-tab label="读过">
        <ng-template matTabContent>
          <app-readed></app-readed>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </div>

</div>


