<div class="container">
  <div class="d-flex article-header">
    <h4 class="title-article">{{bookNote.note_title}}</h4>
    <div class="d-flex justify-content-between article-info-box">
      <div class="article-info-left">
        <span class="time">{{bookNote.createTime | date: 'yyyy年MM月dd日 HH:mm:ss'}}</span>
        <span class="book-name">{{book.book_name}}</span>
        <span class="page">第{{bookNote.begain_page}}页到第{{bookNote.end_page}}页</span>
        <span class="chapter">章节名: {{bookNote.book_chapter}}</span>
      </div>
      <span class="article-info-editor" (click)="editorNote()">编辑</span>
    </div>
  </div>
  <div [innerHTML]="bookNote.noteHtml | html"></div>
</div>
<div class="d-flex justify-content-center">
</div>
