<div class="nav-background">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="full">
          <div class="logo-box">
            <a href="#" class="navbar-brand">豆瓣读书</a>
          </div>
          <form class="form-group full nav-form">
            <input class="form-control nav-search" type="text" placeholder="">
            <button class="search-btn" type="submit"><mat-icon>search</mat-icon></button>
          </form>
        </div>
      </div>
      <div class="col-5">
        <div *ngIf="!login" class="full menu">
          <ul class="nav">
            <li class="nav-item">
              <a href="#" class="nav-link">电子图书</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">购物车</a>
            </li>
            <li class="nav-item login">
              <a href="#" class="nav-link">登录</a>
            </li>
            <li class="nav-item login">
              <a href="#" class="nav-link">注册</a>
            </li>
          </ul>
        </div>
        <div *ngIf="login">
          已登录
        </div>
      </div>
    </div>
  </div>
</div>
