.nav-background {
  background: #f6f6f1;
  padding-top: 1rem;
  border-bottom: 1px solid #e5ebe4;
}

.full {
  display: flex;
  flex: 1;
}

.logo-box {
  width: 9.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.logo-box .navbar-brand {
  color: #614e3c;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-form .nav-search {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  outline: none;

}

.search-btn {
  border: 0;
  height: calc(2.25rem + 2px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.menu {
  justify-content: flex-end;
}

.menu a {
  color: #000;
}

.menu a:hover {
  color: #ff0000;
  text-decoration: none;
}
