<div class="container">
  <h2 class="search-value">搜索 {{searchValue}}</h2>
  <h5 class="search-amount">为您找到{{bookInfo.length}}本书籍</h5>
  <div class="row book-list" *ngFor="let book of bookInfo">
    <div class="col-1">
      <img class="img-fluid" src="{{book.book_img}}" referrerpolicy ="never">
    </div>
    <div class="col-11">
      <p><a [routerLink]="['/bookinfo', book.isbn]">{{book.book_name}}</a></p>
      <p>
        <ngb-rating [rate]="book.grade/2"></ngb-rating>
        <span>{{book.grade}}</span>
      </p>
      <p class="author">
        {{book.book_author}} / {{book.book_translator}} / {{book.book_press}} / {{book.publisher_time}} / {{book.book_prices}}元
      </p>
    </div>
  </div>

  <div class="row" style="margin-top: 1rem;margin-bottom: 0rem;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link">上一页</a></li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item"><a class="page-link">2</a></li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item"><a class="page-link">4</a></li>
      <li class="page-item"><a class="page-link">5</a></li>
      <li class="page-item"><a class="page-link">6</a></li>
      <li class="page-item"><a class="page-link">...</a></li>
      <li class="page-item"><a class="page-link">下一页</a></li>
    </ul>
  </div>
</div>
