<div class="container">
  <h2 class="search-value">搜索 Java</h2>
  <h5 class="search-amount">为您找到999本书籍</h5>
  <div class="row book-list">
    <div class="col-1">
      <img class="img-fluid" src="https://img3.doubanio.com/view/subject/l/public/s27243455.jpg" referrerpolicy ="never">
    </div>
    <div class="col-11">
      <p><a href="https://book.douban.com/subject/2130190/">思想 （第4版）</a></p>
      <p>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
        9.9
      </p>
      <p class="author">
        [美] Bruce Eckel / 陈昊鹏 / 机械工业出版社 / 2007-6 / 108.00元
      </p>


    </div>
  </div>

  <div class="row" style="margin-top: 1rem;margin-bottom: 0rem;">
    <ul class="pagination">
      <li class="page-item"><a class="page-link">上一页</a></li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item"><a class="page-link">2</a></li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item"><a class="page-link">4</a></li>
      <li class="page-item"><a class="page-link">5</a></li>
      <li class="page-item"><a class="page-link">6</a></li>
      <li class="page-item"><a class="page-link">...</a></li>
      <li class="page-item"><a class="page-link">下一页</a></li>
    </ul>
  </div>
</div>
