<div class="bg-white">
  <div class="container">
    <div class="row">
      <!--主页左边部分-->
      <div class="col-sm-12 col-md-12 my-col-lg-7-4">
        <!--新书速递-->
        <h2 class="head-title">
          <span class="new-book">小编推荐</span>
        </h2>
        <div class="row">
          <div class="col-4 col-sm-3" *ngFor="let newBookInfo of newBookInfoes">
            <div class="new-book-img-box">
              <a [routerLink]="['/bookinfo']" [queryParams]="{isbn: newBookInfo.isbn}">
                <img [src]="newBookInfo.book_img" referrerpolicy="no-referrer">
              </a>
              <p><a [routerLink]="['/bookinfo']" [queryParams]="{isbn: newBookInfo.isbn}" matTooltip="{{newBookInfo.book_name}}">{{newBookInfo.book_name}}</a></p>
              <p matTooltip="{{newBookInfo.book_author}}">{{newBookInfo.book_author}}</p>
            </div>
          </div>
        </div>
        <!--最受关注图书榜-->
        <h2 class="head-title">
          <span class="new-book">图书排行榜</span>
        </h2>
        <div class="row">
          <div class="col-6" *ngFor="let focusOnBookInfo of focusOnBookInfoes">
            <div class="focus-on">
              <div class="focus-on-img-box">
                <a [routerLink]="['/bookinfo']" [queryParams]="{isbn: focusOnBookInfo.isbn}">
                  <img [src]="focusOnBookInfo.book_img" referrerpolicy="no-referrer">
                </a>
              </div>
              <div class="focus-on-books-info">
                <a class="book-name" [routerLink]="['/bookinfo']" [queryParams]="{isbn: focusOnBookInfo.isbn}">{{focusOnBookInfo.book_name}}</a>
                <p class="rate">
                  <ngb-rating [rate]="focusOnBookInfo.grade/2"></ngb-rating>
                  <span>{{focusOnBookInfo.grade}}</span>
                </p>
                <p class="overflow-ellipsis" [matTooltip]="focusOnBookInfo.book_author">作者：{{focusOnBookInfo.book_author}}</p>
                <!--<p>{{focusOnBookInfo.type}}</p>-->
              </div>
            </div>
          </div>
        </div>
        <!--电子图书-->
        <h2 class="head-title">
          <span class="new-book">电子图书</span>
        </h2>
        <div class="row">
          <div class="col-4 col-sm-3" *ngFor="let eBookInfo of eBookInfoes">
            <div class="new-book-img-box">
              <img src="{{eBookInfo.imgurl}}" referrerpolicy="never">
              <p><a href="#" matTooltip="{{eBookInfo.bookName}}">{{eBookInfo.bookName}}</a></p>
              <p matTooltip="{{eBookInfo.price}}">{{eBookInfo.price}}</p>
            </div>
          </div>
        </div>
      </div>
      <!--主页右边部分-->
      <div class="col-sm-12 col-md-12 col-lg-4">
        <!--热门标签-->
        <h2 class="head-title">
          <p class="new-book">热门标签</p>
        </h2>
        <div class="label-box">
          <div class="tag-box" *ngFor="let tag of tages">
            <p style="margin: .5rem 0;">{{tag.tag_title}}</p>
            <div class="tag-type">
              <a href="#" *ngFor="let tag_value of tag.tag_value">{{tag_value}}</a>
            </div>
          </div>
        </div>
        <!--畅销图书榜-->
        <!--<h2 class="head-title">-->
          <!--<span class="new-book">畅销图书榜</span>-->
        <!--</h2>-->
        <!--<div class="sell-well-book">-->
          <!--<ul class="ul-nav">-->
            <!--<li class="ul-nav-item">-->
              <!--<a href="https://book.douban.com/subject/4913064/">活着</a>-->
              <!--<p class="author">余华</p>-->
              <!--<p class=""></p>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <h2 class="head-title">
          <span class="new-book">豆瓣图书250</span>
        </h2>
        <div class="row">
          <div class="col-4" *ngFor="let book of moreMoneyBook">
            <div class="card card-overrite">
              <a [routerLink]="['/bookinfo']" [queryParams]="{isbn: book.isbn}">
                <img [src]="book.book_img" referrerpolicy="no-referrer" class="img-fluid">
              </a>
              <div class="row" style="margin-top: 1rem;">
                <div class="col-12">
                  <a [routerLink]="['/bookinfo']" [queryParams]="{isbn: book.isbn}">{{book.book_name}}</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
