<div class="bg-white">
  <div class="container">
    <div class="row">
      <!--主页左边部分-->
      <div class="col-sm-12 col-md-12 my-col-lg-7-4">
        <!--新书速递-->
        <h2 class="head-title">
          <span class="new-book">新书速递</span>
        </h2>
        <div class="row">
          <div class="col-4 col-sm-3" *ngFor="let newBookInfo of newBookInfoes">
            <div class="new-book-img-box">
              <img src="{{newBookInfo.imgurl}}" referrerpolicy="never">
              <p><a routerLink="search" matTooltip="{{newBookInfo.bookName}}">{{newBookInfo.bookName}}</a></p>
              <p matTooltip="{{newBookInfo.author}}">{{newBookInfo.author}}</p>
            </div>
          </div>
        </div>
        <!--最受关注图书榜-->
        <h2 class="head-title">
          <span class="new-book">最受关注图书榜</span>
        </h2>
        <div class="row">
          <div class="col-6" *ngFor="let focusOnBookInfo of focusOnBookInfoes">
            <div class="focus-on">
              <div class="focus-on-img-box">
                <img src="{{focusOnBookInfo.imgUrl}}" referrerpolicy="never">
              </div>
              <div class="focus-on-books-info">
                <p class="book-name">{{focusOnBookInfo.bookName}}</p>
                <p class="rate">
                  <ngb-rating [rate]="focusOnBookInfo.rate"></ngb-rating>
                  <span>{{focusOnBookInfo.rate}}</span>
                </p>
                <p>作者：{{focusOnBookInfo.author}}</p>
                <p>{{focusOnBookInfo.type}}</p>
              </div>
            </div>
          </div>
        </div>
        <!--电子图书-->
        <h2 class="head-title">
          <span class="new-book">电子图书</span>
        </h2>
        <div class="row">
          <div class="col-4 col-sm-3" *ngFor="let eBookInfo of eBookInfoes">
            <div class="new-book-img-box">
              <img src="{{eBookInfo.imgurl}}" referrerpolicy="never">
              <p><a href="#" matTooltip="{{eBookInfo.bookName}}">{{eBookInfo.bookName}}</a></p>
              <p matTooltip="{{eBookInfo.price}}">{{eBookInfo.price}}</p>
            </div>
          </div>
        </div>
      </div>
      <!--主页右边部分-->
      <div class="col-sm-12 col-md-12 col-lg-4">
        <!--热门标签-->
        <h2 class="head-title">
          <p class="new-book">热门标签</p>
        </h2>
        <div class="label-box">
          <div class="tag-box" *ngFor="let tag of tages">
            <p style="margin: .5rem 0;">{{tag.tag_title}}</p>
            <div class="tag-type">
              <a href="#" *ngFor="let tag_value of tag.tag_value">{{tag_value}}</a>
            </div>
          </div>
        </div>
        <!--畅销图书榜-->
        <!--<h2 class="head-title">-->
          <!--<span class="new-book">畅销图书榜</span>-->
        <!--</h2>-->
        <!--<div class="sell-well-book">-->
          <!--<ul class="ul-nav">-->
            <!--<li class="ul-nav-item">-->
              <!--<a href="https://book.douban.com/subject/4913064/">活着</a>-->
              <!--<p class="author">余华</p>-->
              <!--<p class=""></p>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <h2 class="head-title">
          <span class="new-book">豆瓣图书250</span>
        </h2>
        <div class="row">
          <div class="col-4">
            <div class="card card-overrite">
              <a href="https://book.douban.com/subject/4913064/">
                <img src="https://img3.doubanio.com/view/subject/m/public/s2875823.jpg" referrerpolicy="never" class="img-fluid">
              </a>
              <div class="row" style="margin-top: 1rem;">
                <div class="col-12">
                  <a href="https://book.douban.com/subject/1449352/?icn=index-book250-subject">朝花夕拾</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card card-overrite">
              <a href="https://book.douban.com/subject/4913064/">
                <img src="https://img3.doubanio.com/view/subject/m/public/s2875823.jpg" referrerpolicy="never" class="img-fluid">
              </a>
              <div class="row" style="margin-top: 1rem;">
                <div class="col-12">
                  <a href="https://book.douban.com/subject/1449352/?icn=index-book250-subject">朝花夕拾</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card card-overrite">
              <a href="https://book.douban.com/subject/4913064/">
                <img src="https://img3.doubanio.com/view/subject/m/public/s2875823.jpg" referrerpolicy="never" class="img-fluid">
              </a>
              <div class="row" style="margin-top: 1rem;">
                <div class="col-12">
                  <a href="https://book.douban.com/subject/1449352/?icn=index-book250-subject">朝花夕拾</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card card-overrite">
              <a href="https://book.douban.com/subject/4913064/">
                <img src="https://img3.doubanio.com/view/subject/m/public/s2875823.jpg" referrerpolicy="never" class="img-fluid">
              </a>
              <div class="row" style="margin-top: 1rem;">
                <div class="col-12">
                  <a href="https://book.douban.com/subject/1449352/?icn=index-book250-subject">朝花夕拾</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card card-overrite">
              <a href="https://book.douban.com/subject/4913064/">
                <img src="https://img3.doubanio.com/view/subject/m/public/s2875823.jpg" referrerpolicy="never" class="img-fluid">
              </a>
              <div class="row" style="margin-top: 1rem;">
                <div class="col-12">
                  <a href="https://book.douban.com/subject/1449352/?icn=index-book250-subject">朝花夕拾</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card card-overrite">
              <a href="https://book.douban.com/subject/4913064/">
                <img src="https://img3.doubanio.com/view/subject/m/public/s2875823.jpg" referrerpolicy="never" class="img-fluid">
              </a>
              <div class="row" style="margin-top: 1rem;">
                <div class="col-12">
                  <a href="https://book.douban.com/subject/1449352/?icn=index-book250-subject">朝花夕拾</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
