<div class="container my-comtainer">
  <div class="login-box">
    <div class="login-img-box">
      <a routerLink="/">
        <img src="assets/img/login_logo.png">
      </a>
    </div>
    <h1 class="login-tille">欢迎加入豆瓣</h1>
    <form [formGroup]="register" (ngSubmit)="onSubmit()">
      <div class="login-form-group">
        <span>账号</span>
        <mat-form-field class="login-form-control">
          <input matInput type="text" placeholder="邮箱" formControlName="userAccount">
        </mat-form-field>
      </div>
      <div class="login-form-group">
        <span>密码</span>
        <mat-form-field class="login-form-control">
          <input matInput type="password" placeholder="密码" formControlName="password">
        </mat-form-field>
      </div>
      <div class="login-form-group">
        <span>昵称</span>
        <mat-form-field class="login-form-control">
          <input matInput type="text" placeholder="昵称" formControlName="userName">
        </mat-form-field>
      </div>
      <div class="login-form-group verification-code">
        <span>验证码</span>
        <mat-form-field class="login-form-control">
          <input matInput type="password" placeholder="验证码" formControlName="verificationCode">
        </mat-form-field>
        <button mat-raised-button>获取验证码</button>
      </div>
      <div class="submit-btn">
        <button mat-raised-button type="submit">注册</button>
        <button mat-raised-button routerLink="/login">返回登录</button>
      </div>
    </form>
  </div>

</div>
