<div class="container my-comtainer">
  <div class="register-box">
    <div class="register-img-box">
      <a routerLink="/">
        <img src="assets/img/login_logo.png">
      </a>
    </div>
    <h1 class="register-tille">欢迎加入豆瓣</h1>
    <form [formGroup]="registerGroup" (ngSubmit)="onSubmit()" class="register-form">
      <mat-form-field class="login-form-control">
        <input matInput type="text" placeholder="请输入昵称" formControlName="nickName">
        <mat-error *ngIf="nickName.invalid">{{getNickNameError()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="login-form-control">
        <input matInput type="text" placeholder="请输入邮箱" formControlName="email">
        <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="login-form-control">
        <input matInput type="password" placeholder="请输入密码" formControlName="password">
        <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="login-form-control">
        <input matInput type="password" placeholder="请输入验证码" formControlName="code">
        <button matSuffix mat-button>获取验证码</button>
        <mat-error *ngIf="code.invalid">{{getCodeError()}}</mat-error>
      </mat-form-field>
      <div>
        <button mat-button type="submit" class="mr-3">注册</button>
        <button mat-button type="button" routerLink="/login">返回登录</button>
      </div>
    </form>
  </div>

</div>
