<div class="container-fluid" style="padding-bottom: 23px;">
  <div class="row">
    <div class="col-12">
      <h1>kirin</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4 login-box" style="margin: 0 auto;">
      <div>
        <p class="text-center">注册</p>
      </div>
      <form name="form" action="/register" method="post" onsubmit="return check(form)">
        <div class="form-group">
          <label for="username">昵称:</label>
          <input type="text" class="form-control" id="username" name="user" placeholder="输入昵称">
          <div class="alert alert-danger check-user display"></div>
        </div>
        <div class="form-group">
          <label for="email">邮箱:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="输入邮箱">
          <div class="alert alert-danger check-email display"></div>
        </div>
        <div class="form-group">
          <label for="psw">设置密码:</label>
          <input type="password" class="form-control" id="psw" name="pass" placeholder="设置密码">
          <div class="alert alert-danger check-pass display"></div>
        </div>
        <div class="form-group">
          <label for="repsw">确认密码:</label>
          <input type="password" class="form-control" name="passsure" id="repsw" placeholder="确认密码">
          <div class="alert alert-danger check-passsure display"></div>
        </div>
        <div style="margin-top: 1rem;">
          <button class="btn btn-primary btn-block">注册</button>
        </div>
      </form>
      <div style="margin-top: 1rem;">
        <a class="btn btn-primary btn-block" href="login.html">返回登录</a>
      </div>

    </div>
  </div>
</div>
