button {
  outline: none;
}

.login-box {
  width: 45%;
}

.login-img-box {
  padding-top: 1.875rem;
}

.login-tille {
  color: #494949;
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}


//.login-form-group {
//  display: flex;
//  align-items: flex-end;
//}
//
//.login-form-group span {
//  display: inline-flex;
//  width: 12%;
//  align-items: flex-end;
//  padding-bottom: 1.5em;
//}

//.login-form-group .login-form-control {
//  width: 100%;
//}


.login-form{

  mat-form-field {
    width: 100%;
  }
}

//记住
.remember {
  display: flex;
  align-content: center;
}

.remember span {
  margin-bottom: .5rem;
  margin-left: .5rem;
}

.remember span a {
  margin-left: .5rem;
}

.remember span a:hover {
  text-decoration: none;
  color: #ff0000;
}

.submit-btn {
  margin-top: 1rem;
}

.submit-btn button {
  margin-right: 1rem;
}



@media (min-width: 1200px) {
  .my-comtainer {
    max-width: 950px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
