<div class="container my-comtainer">
  <div class="login-box">
    <div class="login-img-box">
      <a routerLink="/">
        <img src="assets/img/login_logo.png">
      </a>
    </div>
    <h1 class="login-tille">登录豆瓣</h1>
    <form [formGroup]="loginGroup" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field class="login-form-control">
        <input matInput type="text" placeholder="邮箱账号" formControlName="account">
        <mat-error *ngIf="account.invalid">{{getAccountError()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="login-form-control">
        <input matInput type="password" placeholder="密码" formControlName="password">
        <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
      </mat-form-field>
      <div class="remember">
        <mat-checkbox>7天内自动登录</mat-checkbox>
        <span>|<a href="#">忘记密码</a></span>
      </div>
      <div class="submit-btn">
        <button mat-button type="submit">登录</button>
        <button mat-button type="button" routerLink="/register">立即注册</button>
      </div>
    </form>
  </div>
</div>
