<div class="container my-comtainer">
  <div class="login-box">
    <div class="login-img-box">
      <a routerLink="/">
        <img src="assets/img/login_logo.png">
      </a>
    </div>
    <h1 class="login-tille">登录豆瓣</h1>
    <form [formGroup]="login" (ngSubmit)="onSubmit()">
      <div class="login-behaver">
        <a href="#">邮箱验证码登录</a>
      </div>
      <div class="login-form-group">
        <span>账号</span>
        <mat-form-field class="login-form-control">
          <input matInput type="text" placeholder="邮箱" formControlName="userAccount">
        </mat-form-field>
      </div>
      <div class="login-form-group">
        <span>密码</span>
        <mat-form-field class="login-form-control">
          <input matInput type="password" placeholder="密码" formControlName="password">
        </mat-form-field>
      </div>
      <div class="remeber">
        <mat-checkbox>7天内自动登录</mat-checkbox>
        <span>|<a href="#">忘记密码</a></span>
      </div>
      <div class="submit-btn">
        <button mat-raised-button type="submit">登录</button>
        <button mat-raised-button routerLink="/register">立即注册</button>
      </div>
    </form>
  </div>
</div>
